body {
    background-color: beige;
}

#header {
    color: white;
    text-align: center;
    font-size: 50px;
}

img {
    display: block;
    margin: auto;
    height: auto;
    width: 300px;
}

.encab3,
.encab3-1 {
    color: black;
    font-size: 25px;
}

#bloque1,
#bloque2 {
    color: aqua;
}
