div {
    color: red;
    font-size: 30px;
    background-color: beige;
}

.huevos-revueltos {
    color: blue;
}

.encabezado-1,
.encabezado-3 {
    color: blue;
}
.encabezado-1 {
    font-size: 50px;
    text-align: center;
    color: white;
}
.encabezado-3 {
    text-align: center;
    color: white;
    font-size: 35px;
}

body {
    background-color: beige;
}
#imagen {
    height: auto;
    width: 300px;
    display: block;
    margin: auto;
}